# Ignore os arquivos de sistema do Mac
.DS_store

api/models/belts.model

api/yolo
!api/yolo/index

api/static/inputs/*
!api/static/inputs/index

api/static/outputs/belted/*
!api/static/outputs/belted/index

api/static/outputs/unbelted/*
!api/static/outputs/belted/index
